* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	background-color: #f0f2f5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	transition: background-color 0.8s ease; /* Animasi transisi latar belakang */
}

.container {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
	padding: 30px;
	width: 100%;
	max-width: 320px;
	text-align: center;
}

h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
}

#moodSelector {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #ddd;
	font-size: 16px;
	color: #333;
	background-color: #fafafa;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

#moodSelector:hover {
	background-color: #f4f4f4;
	border-color: #ccc;
}

#message {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #555;
	opacity: 0.9;
	transition: opacity 0.5s ease; 
}

#message.show {
	opacity: 1;
}
